﻿@{
    Layout = "~/Views/Shared/_LayoutGeneralProfile.cshtml";
    ViewBag.Title = "GeneralProfile";
}

@model eUseControl.Web.Models.Profile.ProfileCompact

<div class="card profile-card overflow-hidden">
    <div class="row no-gutters">
        <div class="col-md-3">
            <div class="list-group list-group-flush account-settings-links">
                <a class="list-group-item list-group-item-action btn border border-secondary rounded-pill px-3 text-primary"
                   href="@Url.Action("GeneralProfile", "Profile")"
                   style="max-width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">General</a>
                <a class="list-group-item list-group-item-action btn border border-secondary rounded-pill px-3 text-primary"
                   href="@Url.Action("ChangePasswordProfile", "Profile")"
                   style="max-width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                    Change
                    password
                </a>
                <a class="list-group-item list-group-item-action btn border border-secondary rounded-pill px-3 text-primary"
                   href="@Url.Action("SettingsProfile", "Profile")"
                   style="max-width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                    Profile
                    settings
                </a>
                <a class="list-group-item list-group-item-action btn border border-secondary rounded-pill px-3 text-primary"
                   href="@Url.Action("ArticlesProfile", "Profile")"
                   style="max-width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Articles</a>
                <a class="list-group-item list-group-item-action btn border border-secondary rounded-pill px-3 text-primary"
                   href="@Url.Action("SalesProfile", "Profile")"
                   style="max-width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Sales</a>
                <a class="list-group-item list-group-item-action btn border border-secondary rounded-pill px-3 text-primary"
                   href="@Url.Action("PurchaseHistoryProfile", "Profile")"
                   style="max-width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                    Purchase
                    history
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <div class="profile-header">
                    <img src="@Url.Content(Model.ProfileImageUrl)" alt="Profile Image" class="profile-image">
                    <div class="profile-header-info">
                        <h3>@Model.FirstName @Model.LastName</h3>
                        <p>@Model.Email</p>
                    </div>
                </div>
                <hr>
                <div class="profile-info">
                    <p style="color: #696969;"><span class="profile-section-title" style="color: #696969;">Name:</span> @Model.FirstName</p>
                    <p style="color: #696969;"><span class="profile-section-title" style="color: #696969;">Surname:</span> @Model.LastName</p>
                    <p style="color: #696969;"><span class="profile-section-title" style="color: #696969;">Email:</span> @Model.Email</p>
                    <p style="color: #696969;"><span class="profile-section-title" style="color: #696969;">Address:</span> @Model.Address</p>
                    <p style="color: #696969;"><span class="profile-section-title" style="color: #696969;">Phone number:</span> @Model.PhoneNumber</p>
                </div>
            </div>
        </div>
    </div>
</div>
