@{
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
    ViewBag.Title = "Shop";
}

@model eUseControl.Web.Models.Product.ProductCatalogViewModel

<div class="container py-5">
    <h1 class="mb-4">TerraBio Market</h1>
    <div class="row g-4">
        <div class="col-lg-12">
            <div class="row g-4">
                <div class="col-xl-3">
                    <form method="get" action="@Url.Action("Shop", "Shop")" class="input-group w-100 mx-auto d-flex">
                        @if (Model.CategoryId != null && Model.CategoryId != 0)
                        {
                            <input type="hidden" name="categoryId" value="@Model.CategoryId" />
                        }
                        @if (!string.IsNullOrEmpty(Model.SortOption))
                        {
                            <input type="hidden" name="sortOption" value="@Model.SortOption" />
                        }
                        @if (Model.MaxPrice > 0)
                        {
                            <input type="hidden" name="maxPrice" value="@Model.MaxPrice" />
                        }
                        @if (!string.IsNullOrEmpty(Model.Country))
                        {
                            <input type="hidden" name="country" value="@Model.Country" />
                        }
                        <input type="search" name="searchQuery" class="form-control p-3 border border-secondary" placeholder="Search" aria-describedby="search-icon-1" style="border-top-left-radius: 0.375rem; border-bottom-left-radius: 0.375rem;" />
                        <button type="submit" class="btn btn-primary p-3"
                                style="background-color: #FFB524; border-color: #FFB524 !important;">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <div class="col-6"></div>
                <div class="col-xl-3">
                    <div class="bg-light ps-3 py-3 rounded d-flex align-items-center mb-4"
                         style="gap: 10px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);">
                        <label for="fruits" class="mb-0" style="font-size: 14px; margin-right: 50px;">
                            Default
                            Sorting:
                        </label>
                        <form method="get" action="@Url.Action("Shop", "Shop")">
                            @if (Model.CategoryId != null && Model.CategoryId != 0)
                            {
                                <input type="hidden" name="categoryId" value="@Model.CategoryId" />
                            }
                            @if (Model.MaxPrice > 0)
                            {
                                <input type="hidden" name="maxPrice" value="@Model.MaxPrice" />
                            }
                            @if (!string.IsNullOrEmpty(Model.SearchQuery))
                            {
                                <input type="hidden" name="searchQuery" value="@Model.SearchQuery" />
                            }
                            @if (!string.IsNullOrEmpty(Model.Country))
                            {
                                <input type="hidden" name="country" value="@Model.Country" />
                            }
                            <select id="sortOption" name="sortOption" class="border-0 form-select-sm bg-light"
                                    style="padding: 3px 5px; width: 110px;" onchange="this.form.submit()">
                                <option value="" disabled @(string.IsNullOrEmpty(Model.SortOption) ? "selected" : "")>Option</option>
                                <option value="lowToHigh" @(Model.SortOption == "lowToHigh" ? "selected" : "")>Price ↑</option>
                                <option value="highToLow" @(Model.SortOption == "highToLow" ? "selected" : "")>Price ↓</option>
                                <option value="oldest" @(Model.SortOption == "oldest" ? "selected" : "")>Old →</option>
                                <option value="newest" @(Model.SortOption == "newest" ? "selected" : "")>New →</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-3">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <h4>Categories</h4>
                                <ul class="list-unstyled fruite-categorie" style="margin-left: 7px;">
                                    <li>
                                        <div class="d-flex fruite-name">
                                            <a href="@Url.Action("Shop", "Shop")" class="me-2"><i class="fas fa-seedling me-2"></i>All Products</a>
                                            <span class="ms-auto" style="margin-right: 25px;">(@Model.Categories.Values.Sum())</span>
                                        </div>
                                    </li>
                                    @foreach (var category in Model.Categories)
                                    {
                                        <li>
                                            <div class="d-flex fruite-name">
                                                <a href="@Url.Action("Shop", "Shop", new { categoryId = category.Key.Id })" class="me-2">
                                                    <i class="fas fa-seedling me-2"></i>@category.Key.CategoryName
                                                </a>
                                                <span class="ms-auto" style="margin-right: 25px;">(@category.Value)</span>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <form method="get" action="@Url.Action("Shop", "Shop")">
                            @if (Model.CategoryId != null && Model.CategoryId != 0)
                            {
                                <input type="hidden" name="categoryId" value="@Model.CategoryId" />
                            }
                            @if (!string.IsNullOrEmpty(Model.SortOption))
                            {
                                <input type="hidden" name="sortOption" value="@Model.SortOption" />
                            }
                            @if (!string.IsNullOrEmpty(Model.SearchQuery))
                            {
                                <input type="hidden" name="searchQuery" value="@Model.SearchQuery" />
                            }
                            @if (!string.IsNullOrEmpty(Model.Country))
                            {
                                <input type="hidden" name="country" value="@Model.Country" />
                            }
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4 class="mb-2">Price</h4>
                                    <input type="range" class="form-range w-100" id="maxPrice" name="maxPrice"
                                           min="0" max="3000" value="1" oninput="amount.value=this.value">
                                    <output id="amount" for="maxPrice">1</output>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center my-4">
                                <button type="submit"
                                        class="btn border border-secondary px-4 py-3 rounded-pill w-100"
                                        style="margin-top: -20px; margin-left: -15px; color: #81c408;">
                                    Filter
                                </button>
                            </div>
                        </form>
                        <form action="@Url.Action("Shop", "Shop")" method="get">
                            @if (Model.CategoryId != null && Model.CategoryId != 0)
                            {
                                <input type="hidden" name="categoryId" value="@Model.CategoryId" />
                            }
                            @if (!string.IsNullOrEmpty(Model.SortOption))
                            {
                                <input type="hidden" name="sortOption" value="@Model.SortOption" />
                            }
                            @if (!string.IsNullOrEmpty(Model.SearchQuery))
                            {
                                <input type="hidden" name="searchQuery" value="@Model.SearchQuery" />
                            }
                            @if (Model.MaxPrice > 0)
                            {
                                <input type="hidden" name="maxPrice" value="@Model.MaxPrice" />
                            }
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4 class="mb-2">Country</h4>
                                    <input list="countries"
                                           name="country"
                                           class="form-control p-3 border border-secondary"
                                           placeholder="Enter country"
                                           style="width: 297px; margin-left: -10px; border-color: #FFB524 !important;"
                                           onchange="this.form.submit()">
                                    <datalist id="countries">
                                        <option value="Afghanistan">
                                        <option value="Albania">
                                        <option value="Algeria">
                                        <option value="Andorra">
                                        <option value="Angola">
                                        <option value="Argentina">
                                        <option value="Armenia">
                                        <option value="Australia">
                                        <option value="Austria">
                                        <option value="Azerbaijan">
                                        <option value="Bahamas">
                                        <option value="Bahrain">
                                        <option value="Bangladesh">
                                        <option value="Barbados">
                                        <option value="Belarus">
                                        <option value="Belgium">
                                        <option value="Belize">
                                        <option value="Benin">
                                        <option value="Bhutan">
                                        <option value="Bolivia">
                                        <option value="Bosnia and Herzegovina">
                                        <option value="Botswana">
                                        <option value="Brazil">
                                        <option value="Brunei">
                                        <option value="Bulgaria">
                                        <option value="Burkina Faso">
                                        <option value="Burundi">
                                        <option value="Cambodia">
                                        <option value="Cameroon">
                                        <option value="Canada">
                                        <option value="Cape Verde">
                                        <option value="Central African Republic">
                                        <option value="Chad">
                                        <option value="Chile">
                                        <option value="China">
                                        <option value="Colombia">
                                        <option value="Comoros">
                                        <option value="Congo (Brazzaville)">
                                        <option value="Congo (Kinshasa)">
                                        <option value="Costa Rica">
                                        <option value="Croatia">
                                        <option value="Cuba">
                                        <option value="Cyprus">
                                        <option value="Czech Republic">
                                        <option value="Denmark">
                                        <option value="Djibouti">
                                        <option value="Dominica">
                                        <option value="Dominican Republic">
                                        <option value="East Timor">
                                        <option value="Ecuador">
                                        <option value="Egypt">
                                        <option value="El Salvador">
                                        <option value="Equatorial Guinea">
                                        <option value="Eritrea">
                                        <option value="Estonia">
                                        <option value="Eswatini">
                                        <option value="Ethiopia">
                                        <option value="Fiji">
                                        <option value="Finland">
                                        <option value="France">
                                        <option value="Gabon">
                                        <option value="Gambia">
                                        <option value="Georgia">
                                        <option value="Germany">
                                        <option value="Ghana">
                                        <option value="Greece">
                                        <option value="Grenada">
                                        <option value="Guatemala">
                                        <option value="Guinea">
                                        <option value="Guinea-Bissau">
                                        <option value="Guyana">
                                        <option value="Haiti">
                                        <option value="Honduras">
                                        <option value="Hungary">
                                        <option value="Iceland">
                                        <option value="India">
                                        <option value="Indonesia">
                                        <option value="Iran">
                                        <option value="Iraq">
                                        <option value="Ireland">
                                        <option value="Israel">
                                        <option value="Italy">
                                        <option value="Jamaica">
                                        <option value="Japan">
                                        <option value="Jordan">
                                        <option value="Kazakhstan">
                                        <option value="Kenya">
                                        <option value="Kiribati">
                                        <option value="Kuwait">
                                        <option value="Kyrgyzstan">
                                        <option value="Laos">
                                        <option value="Latvia">
                                        <option value="Lebanon">
                                        <option value="Lesotho">
                                        <option value="Liberia">
                                        <option value="Libya">
                                        <option value="Liechtenstein">
                                        <option value="Lithuania">
                                        <option value="Luxembourg">
                                        <option value="Madagascar">
                                        <option value="Malawi">
                                        <option value="Malaysia">
                                        <option value="Maldives">
                                        <option value="Mali">
                                        <option value="Malta">
                                        <option value="Marshall Islands">
                                        <option value="Mauritania">
                                        <option value="Mauritius">
                                        <option value="Mexico">
                                        <option value="Micronesia">
                                        <option value="Moldova">
                                        <option value="Monaco">
                                        <option value="Mongolia">
                                        <option value="Montenegro">
                                        <option value="Morocco">
                                        <option value="Mozambique">
                                        <option value="Myanmar">
                                        <option value="Namibia">
                                        <option value="Nauru">
                                        <option value="Nepal">
                                        <option value="Netherlands">
                                        <option value="New Zealand">
                                        <option value="Nicaragua">
                                        <option value="Niger">
                                        <option value="Nigeria">
                                        <option value="North Korea">
                                        <option value="North Macedonia">
                                        <option value="Norway">
                                        <option value="Oman">
                                        <option value="Pakistan">
                                        <option value="Palau">
                                        <option value="Panama">
                                        <option value="Papua New Guinea">
                                        <option value="Paraguay">
                                        <option value="Peru">
                                        <option value="Philippines">
                                        <option value="Poland">
                                        <option value="Portugal">
                                        <option value="Qatar">
                                        <option value="Romania">
                                        <option value="Russia">
                                        <option value="Rwanda">
                                        <option value="Saint Kitts and Nevis">
                                        <option value="Saint Lucia">
                                        <option value="Saint Vincent and the Grenadines">
                                        <option value="Samoa">
                                        <option value="San Marino">
                                        <option value="Sao Tome and Principe">
                                        <option value="Saudi Arabia">
                                        <option value="Senegal">
                                        <option value="Serbia">
                                        <option value="Seychelles">
                                        <option value="Sierra Leone">
                                        <option value="Singapore">
                                        <option value="Slovakia">
                                        <option value="Slovenia">
                                        <option value="Solomon Islands">
                                        <option value="Somalia">
                                        <option value="South Africa">
                                        <option value="South Korea">
                                        <option value="South Sudan">
                                        <option value="Spain">
                                        <option value="Sri Lanka">
                                        <option value="Sudan">
                                        <option value="Suriname">
                                        <option value="Sweden">
                                        <option value="Switzerland">
                                        <option value="Syria">
                                        <option value="Taiwan">
                                        <option value="Tajikistan">
                                        <option value="Tanzania">
                                        <option value="Thailand">
                                        <option value="Togo">
                                        <option value="Tonga">
                                        <option value="Trinidad and Tobago">
                                        <option value="Tunisia">
                                        <option value="Turkey">
                                        <option value="Turkmenistan">
                                        <option value="Tuvalu">
                                        <option value="Uganda">
                                        <option value="Ukraine">
                                        <option value="United Arab Emirates">
                                        <option value="United Kingdom">
                                        <option value="United States">
                                        <option value="Uruguay">
                                        <option value="Uzbekistan">
                                        <option value="Vanuatu">
                                        <option value="Vatican City">
                                        <option value="Venezuela">
                                        <option value="Vietnam">
                                        <option value="Yemen">
                                        <option value="Zambia">
                                        <option value="Zimbabwe">
                                    </datalist>
                                </div>
                            </div>
                        </form>
                        <div class="col-lg-12">
                            <h4 class="mb-3">Popular products</h4>
                            <div class="d-flex align-items-center justify-content-start">
                                <div class="rounded me-4" style="width: 100px; height: 100px;">
                                    <img src="@Url.Content("~/Assets/img/popular-products/popular-product-2.jpg")" class="img-fluid rounded" alt=""
                                         style="margin-top: 9px; width: 1100px; height: 70px;">
                                </div>
                                <div>
                                    <h6 class="mb-2">Bamboo brush</h6>
                                    <div class="d-flex mb-2">
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="d-flex mb-2">
                                        <h5 class="fw-bold me-2">1.99 $</h5>
                                        <h5 class="text-danger text-decoration-line-through">2.59 $</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-start">
                                <div class="rounded me-4" style="width: 100px; height: 100px;">
                                    <img src="@Url.Content("~/Assets/img/popular-products/popular-product-3.jpg")" class="img-fluid rounded" alt=""
                                         style="margin-top: 9px; width: 1100px; height: 70px;">
                                </div>
                                <div>
                                    <h6 class="mb-2">Bio detergents</h6>
                                    <div class="d-flex mb-2">
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="d-flex mb-2">
                                        <h5 class="fw-bold me-2">8.99 $</h5>
                                        <h5 class="text-danger text-decoration-line-through">11.99 $</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-start">
                                <div class="rounded me-4" style="width: 100px; height: 100px;">
                                    <img src="@Url.Content("~/Assets/img/popular-products/popular-product-4.jpg")" class="img-fluid rounded" alt=""
                                         style="margin-top: 9px; width: 1100px; height: 70px;">
                                </div>
                                <div>
                                    <h6 class="mb-2">Natural soaps</h6>
                                    <div class="d-flex mb-2">
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                    </div>
                                    <div class="d-flex mb-2">
                                        <h5 class="fw-bold me-2">6.99 $</h5>
                                        <h5 class="text-danger text-decoration-line-through">10.99 $</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center my-4">
                                <a href="@Url.Action("Shop", "Shop")"
                                   class="btn border border-secondary px-4 py-3 rounded-pill w-100"
                                   style="margin-left: -40px; color: #81c408; border-color: #81c408;">
                                    View More
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="position-relative">
                                <img src="@Url.Content("~/Assets/img/banner.jpg")" class="img-fluid w-100 rounded" style="margin-left: -20px;"
                                     alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row g-4 justify-content-center">
                        @if (Model.Products != null && Model.Products.Any())
                        {
                            foreach (var product in Model.Products)
                            {
                                <div class="col-md-6 col-lg-6 col-xl-4" style="margin-top: 40px">
                                    <div class="rounded position-relative fruite-item">
                                        <div class="fruite-img">
                                            <a href="@Url.Action("ProductDetails", "Product", new { productId = product.Id })">
                                                <img src="@Url.Content(product.ProductImageUrl)"
                                                     class="img-fluid w-100 rounded-top custom-image"
                                                     alt="Product Image">
                                            </a>
                                        </div>
                                        @{
                                            var isInWishlist = Model.WishlistProductIds.Contains(product.Id);
                                            var action = isInWishlist ? "RemoveProductFromWishlist" : "AddProductToWishlist";
                                        }
                                        <form action="@Url.Action(action, "Wishlist")" method="post" style="position: absolute; top: 16px; right: 10px; z-index: 10;">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="productId" value="@product.Id" />
                                            <button type="submit" style="background: none; border: none; cursor: pointer;">
                                                <i class="@(isInWishlist ? "fas fa-heart" : "far fa-heart") fa-lg pulsing-heart"
                                                   style="color: #FFB524; transition: transform 0.3s ease;"></i>
                                            </button>
                                        </form>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                             style="top: 10px; left: 10px;">
                                            @product.ProductCategory
                                        </div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4 class="text-center product-name">@product.ProductName</h4>
                                            <p class="product-description">
                                                @product.ProductDescription
                                            </p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">$@product.ProductPrice</p>
                                                @if (product.ProductQuantity > 0)
                                                {
                                                    <form action="@Url.Action("AddProductToCart", "Cart")" method="post" class="d-inline">
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="productId" value="@product.Id" />
                                                        <button type="submit"
                                                                class="btn border border-secondary rounded-pill px-3 text-primary pulse-js">
                                                            <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to Cart
                                                        </button>
                                                    </form>
                                                }
                                                else
                                                {
                                                    <a href="#"
                                                       class="btn border border-secondary rounded-pill px-3 pulse-js"
                                                       style="background-color: #fff; color: #ccc; cursor: not-allowed; pointer-events: none;">
                                                        <i class="fa fa-shopping-bag me-2" style="color: #ccc;"></i> Add to Cart
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="info-message text-center mt-5">
                                <p>We’re out of products in this category for now. Try browsing other categories or come back later!</p>
                            </div>
                        }
                        <div class="col-12">
                            <div class="col-12">
                                <div class="pagination d-flex justify-content-center mt-5">
                                    @if (Model.CurrentPage > 1)
                                    {
                                        <a href="@Url.Action("Shop", "Shop", new { page = Model.CurrentPage - 1, categoryId = Model.CategoryId != null ? Model.CategoryId : (int?)null, sortOption = !string.IsNullOrEmpty(Model.SortOption) ? Model.SortOption : null, maxPrice = Model.MaxPrice != 0 ? Model.MaxPrice : (int?)null, searchQuery = !string.IsNullOrEmpty(Model.SearchQuery) ? Model.SearchQuery : null, country = !string.IsNullOrEmpty(Model.Country) ? Model.Country : null })" class="rounded">&laquo;</a>
                                    }

                                    @for (var i = 1; i <= Model.TotalPages; i++)
                                    {
                                        <a href="@Url.Action("Shop", "Shop", new { page = i, categoryId = Model.CategoryId != null ? Model.CategoryId : (int?)null, sortOption = !string.IsNullOrEmpty(Model.SortOption) ? Model.SortOption : null, maxPrice = Model.MaxPrice != 0 ? Model.MaxPrice : (int?)null, searchQuery = !string.IsNullOrEmpty(Model.SearchQuery) ? Model.SearchQuery : null, country = !string.IsNullOrEmpty(Model.Country) ? Model.Country : null })" class="rounded @(i == Model.CurrentPage ? "active" : "")">@i</a>
                                    }

                                    @if (Model.CurrentPage < Model.TotalPages)
                                    {
                                        <a href="@Url.Action("Shop", "Shop", new { page = Model.CurrentPage + 1, categoryId = Model.CategoryId != null ? Model.CategoryId : (int?)null, sortOption = !string.IsNullOrEmpty(Model.SortOption) ? Model.SortOption : null, maxPrice = Model.MaxPrice != 0 ? Model.MaxPrice : (int?)null, searchQuery = !string.IsNullOrEmpty(Model.SearchQuery) ? Model.SearchQuery : null, country = !string.IsNullOrEmpty(Model.Country) ? Model.Country : null })" class="rounded">&raquo;</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="fw-bold mb-0" style="margin-top: 120px">Recommended products</h1>
                <div class="vesitable">
                    <div class="owl-carousel vegetable-carousel justify-content-center">
                        <div class="border border-primary rounded position-relative vesitable-item">
                            <div class="vesitable-img">
                                <img src="@Url.Content("~/Assets/img/volunteer-categories/volunteer-category-1.jpg")" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                            <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                                 style="top: 10px; right: 10px;">
                                Vegetable
                            </div>
                            <div class="p-4 pb-0 rounded-bottom text-center">
                                <h4>Parsely</h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te
                                    incididunt
                                </p>
                                <div class="d-flex justify-content-between flex-lg-wrap">
                                    <p class="text-dark fs-5 fw-bold">$4.99 / kg</p>
                                    <a href="#"
                                       class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary">
                                        <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .product-description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.5em;
        height: 4.5em;
        white-space: normal;
        word-wrap: break-word;
    }

    .product-name {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 1.5em;
        line-height: 1.5em;
        word-wrap: break-word;
    }

    .custom-image {
        height: 210px;
        width: 100%;
        object-fit: cover;
    }

    .info-message {
        font-size: 16px;
    }
</style>

<script>
    const hearts = document.querySelectorAll('.pulsing-heart');

    hearts.forEach((heart) => {
        let scaleUp = true;
        setInterval(() => {
            heart.style.transform = scaleUp ? 'scale(1.3)' : 'scale(1)';
            scaleUp = !scaleUp;
        }, 500);
    });

    document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll(".pulse-js");

        buttons.forEach(button => {
            setInterval(() => {
                button.style.transform = "scale(1.05)";
                setTimeout(() => {
                    button.style.transform = "scale(1)";
                }, 300);
            }, 1000);
        });
    });
</script>