@{
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
    ViewBag.Title = "Shop";
}

@model eUseControl.Web.Models.Product.ProductCatalogViewModel

<div class="container py-5">
    <h1 class="mb-4">TerraBio Market</h1>
    <div class="row g-4">
        <div class="col-lg-12">
            <div class="row g-4">
                <div class="col-xl-3">
                    <div class="input-group w-100 mx-auto d-flex">
                        <input type="search" class="form-control p-3" placeholder="Search"
                               aria-describedby="search-icon-1">
                        <button type="submit" class="btn btn-primary p-3"
                                style="background-color: #FFB524; border-color: #FFB524;">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="col-6"></div>
                <div class="col-xl-3">
                    <div class="bg-light ps-3 py-3 rounded d-flex align-items-center mb-4"
                         style="gap: 10px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);">
                        <label for="fruits" class="mb-0" style="font-size: 14px; margin-right: 50px;">
                            Default
                            Sorting:
                        </label>
                        <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light"
                                style="padding: 3px 5px; width: 110px;">
                            <option value="lowToHigh">Price ↑</option>
                            <option value="highToLow">Price ↓</option>
                            <option value="oldest">Old →</option>
                            <option value="newest">New →</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-3">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <h4>Categories</h4>
                                <ul class="list-unstyled fruite-categorie" style="margin-left: 7px;">
                                    <li>
                                        <div class="d-flex fruite-name">
                                            <a href="@Url.Action("Shop", "Shop")" class="me-2"><i class="fas fa-seedling me-2"></i>All Products</a>
                                            <span class="ms-auto" style="margin-right: 25px;">(@Model.Categories.Values.Sum())</span>
                                        </div>
                                    </li>
                                    @foreach (var category in Model.Categories)
                                    {
                                        <li>
                                            <div class="d-flex fruite-name">
                                                <a href="@Url.Action("Shop", "Shop", new { categoryId = category.Key.Id })" class="me-2">
                                                    <i class="fas fa-seedling me-2"></i>@category.Key.CategoryName
                                                </a>
                                                <span class="ms-auto" style="margin-right: 25px;">(@category.Value)</span>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <h4 class="mb-2">Price</h4>
                                <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput"
                                       min="0" max="5000" value="0" oninput="amount.value=rangeInput.value">
                                <output id="amount" name="amount" min-vlue="0" max-value="5000" for="rangeInput">
                                    0
                                </output>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center my-4">
                            <a href="#"
                               class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100"
                               style="margin-top: -20px; margin-left: -15px;">Filter</a>
                        </div>
                        <div class="col-lg-12">
                            <h4 class="mb-3">Popular products</h4>
                            <div class="d-flex align-items-center justify-content-start">
                                <div class="rounded me-4" style="width: 100px; height: 100px;">
                                    <img src="@Url.Content("~/Assets/img/popular-products/popular-product-2.jpg")" class="img-fluid rounded" alt=""
                                         style="margin-top: 9px; width: 1100px; height: 70px;">
                                </div>
                                <div>
                                    <h6 class="mb-2">Bamboo brush</h6>
                                    <div class="d-flex mb-2">
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="d-flex mb-2">
                                        <h5 class="fw-bold me-2">1.99 $</h5>
                                        <h5 class="text-danger text-decoration-line-through">2.59 $</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-start">
                                <div class="rounded me-4" style="width: 100px; height: 100px;">
                                    <img src="@Url.Content("~/Assets/img/popular-products/popular-product-3.jpg")" class="img-fluid rounded" alt=""
                                         style="margin-top: 9px; width: 1100px; height: 70px;">
                                </div>
                                <div>
                                    <h6 class="mb-2">Bio detergents</h6>
                                    <div class="d-flex mb-2">
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="d-flex mb-2">
                                        <h5 class="fw-bold me-2">8.99 $</h5>
                                        <h5 class="text-danger text-decoration-line-through">11.99 $</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-start">
                                <div class="rounded me-4" style="width: 100px; height: 100px;">
                                    <img src="@Url.Content("~/Assets/img/popular-products/popular-product-4.jpg")" class="img-fluid rounded" alt=""
                                         style="margin-top: 9px; width: 1100px; height: 70px;">
                                </div>
                                <div>
                                    <h6 class="mb-2">Natural soaps</h6>
                                    <div class="d-flex mb-2">
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                    </div>
                                    <div class="d-flex mb-2">
                                        <h5 class="fw-bold me-2">6.99 $</h5>
                                        <h5 class="text-danger text-decoration-line-through">10.99 $</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center my-4">
                                <a href="@Url.Action("Shop", "Shop")"
                                   class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100"
                                   style="margin-left: -40px;">View More</a>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="position-relative">
                                <img src="@Url.Content("~/Assets/img/banner.jpg")" class="img-fluid w-100 rounded" style="margin-left: -20px;"
                                     alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row g-4 justify-content-center">
                        @if (Model.Products != null && Model.Products.Any())
                        {
                            foreach (var product in Model.Products)
                            {
                                <div class="col-md-6 col-lg-6 col-xl-4" style="margin-top: 40px">
                                    <div class="rounded position-relative fruite-item">
                                        <div class="fruite-img">
                                            <a href="@Url.Action("ProductDetails", "Product", new { productId = product.Id })">
                                                <img src="@Url.Content(product.ProductImageUrl)"
                                                     class="img-fluid w-100 rounded-top custom-image"
                                                     alt="Product Image">
                                            </a>
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                             style="top: 10px; left: 10px;">
                                            @product.ProductCategory
                                        </div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4 class="text-center product-name">@product.ProductName</h4>
                                            <p class="product-description">
                                                @product.ProductDescription
                                            </p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">$@product.ProductPrice</p>
                                                <a href="#"
                                                   class="btn border border-secondary rounded-pill px-3 text-primary">
                                                    <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="info-message text-center mt-5">
                                <p>We’re out of products in this category for now. Try browsing other categories or come back later!</p>
                            </div>
                        }
                        <div class="col-12">
                            <div class="col-12">
                                <div class="pagination d-flex justify-content-center mt-5">
                                    @if (Model.CurrentPage > 1)
                                    {
                                        <a href="@Url.Action("Shop", "Shop", new { page = Model.CurrentPage - 1, categoryId = Model.CategoryId })" class="rounded">&laquo;</a>
                                    }

                                    @for (var i = 1; i <= Model.TotalPages; i++)
                                    {
                                        <a href="@Url.Action("Shop", "Shop", new { page = i, categoryId = Model.CategoryId })" class="rounded @(i == Model.CurrentPage ? "active" : "")">@i</a>
                                    }

                                    @if (Model.CurrentPage < Model.TotalPages)
                                    {
                                        <a href="@Url.Action("Shop", "Shop", new { page = Model.CurrentPage + 1, categoryId = Model.CategoryId })" class="rounded">&raquo;</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="fw-bold mb-0" style="margin-top: 120px">Recommended products</h1>
                <div class="vesitable">
                    <div class="owl-carousel vegetable-carousel justify-content-center">
                        <div class="border border-primary rounded position-relative vesitable-item">
                            <div class="vesitable-img">
                                <img src="@Url.Content("~/Assets/img/volunteer-categories/volunteer-category-1.jpg")" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                            <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                                 style="top: 10px; right: 10px;">
                                Vegetable
                            </div>
                            <div class="p-4 pb-0 rounded-bottom text-center">
                                <h4>Parsely</h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te
                                    incididunt
                                </p>
                                <div class="d-flex justify-content-between flex-lg-wrap">
                                    <p class="text-dark fs-5 fw-bold">$4.99 / kg</p>
                                    <a href="#"
                                       class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary">
                                        <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .product-description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.5em;
        height: 4.5em;
        white-space: normal;
        word-wrap: break-word;
    }

    .product-name {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 1.5em;
        line-height: 1.5em;
        word-wrap: break-word;
    }

    .custom-image {
        height: 210px;
        width: 100%;
        object-fit: cover;
    }

    .info-message {
        font-size: 16px;
    }
</style>